Repository javaknight1/servicepro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']
        exclude: |
          (?x)^(
            .*/templates/.*\.yaml|
            .*/templates/.*\.yml
          )$
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Prettier for formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        additional_dependencies:
          - prettier@3.1.0
        exclude: |
          (?x)^(
            package-lock\.json|
            yarn\.lock|
            pnpm-lock\.yaml|
            .*/templates/.*\.yaml|
            .*/templates/.*\.yml
          )$

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npx eslint . --fix --max-warnings=0'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.[jt]sx?$

  # Backend - Go linting
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --config .golangci.yml'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        args: [-w]
      - id: go-imports
        args: [-w, -local, github.com/javaknight1/servicepro]

  # Frontend tests (optional - can be slow)
  - repo: local
    hooks:
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [manual] # Only run when explicitly called with --hook-stage manual

  # Backend tests (optional - can be slow)
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./... -v'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$
        stages: [manual] # Only run when explicitly called with --hook-stage manual

feat: created a/r aging report
  TODO.md
  backend/internal/api/handlers/ar_aging_handler.go
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/handlers.go
  backend/internal/api/routes/services.go
  backend/internal/api/routes/v1/reports_routes.go
  backend/internal/models/ar_aging_report.go
  backend/internal/services/ar_aging_service.go
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/pages/Reports/ARAgingReportPage.tsx
  frontend/src/pages/Reports/index.ts
  frontend/src/routes/index.tsx
  frontend/src/services/arAgingService.ts
  frontend/src/types/arAging.ts
Due: eslint, golangci-lint

test: updated frontend with over 70% code coverage
  frontend/src/components/charts/__tests__/charts.test.tsx
  frontend/src/components/layout/__tests__/DashboardLayout.test.tsx
  frontend/src/components/layout/__tests__/ProtectedRoute.test.tsx
  frontend/src/components/layout/__tests__/PublicRoute.test.tsx
  frontend/src/components/shared/Avatar/__tests__/Avatar.test.tsx
  frontend/src/components/shared/Badge/__tests__/Badge.test.tsx
  frontend/src/components/shared/Button/__tests__/Button.test.tsx
  frontend/src/components/shared/Card/__tests__/Card.test.tsx
  frontend/src/components/shared/DataTable/__tests__/DataTable.test.tsx
  frontend/src/components/shared/DropdownMenu/__tests__/DropdownMenu.test.tsx
  frontend/src/components/shared/EmptyState/__tests__/EmptyState.test.tsx
  frontend/src/components/shared/StatsCard/__tests__/StatsCard.test.tsx
  frontend/src/components/tenants/__tests__/TenantSwitcher.test.tsx
  frontend/src/config/__tests__/cache-config.test.ts
  frontend/src/contexts/AnalyticsContext.test.tsx
  frontend/src/hooks/__tests__/useCache.test.ts
  frontend/src/hooks/__tests__/useRoles.test.ts
  frontend/src/services/__tests__/api.test.ts
  frontend/src/services/__tests__/tenantService.test.ts
  frontend/src/store/__tests__/sidebarStore.test.ts
  frontend/src/store/__tests__/tenantStore.test.ts
  frontend/src/types/__tests__/realtime.test.ts
  frontend/src/utils/__tests__/avatar.test.ts
  frontend/src/utils/__tests__/cache.test.ts
  frontend/src/utils/__tests__/error.test.ts
  frontend/src/utils/__tests__/fileDownload.test.ts
  frontend/src/utils/__tests__/queryParams.test.ts
  frontend/vite.config.ts
Due: eslint

test: updated integration tests for frontend
  CLAUDE.md
  TODO.md
  frontend/tests/integration/auth.integration.test.tsx
  frontend/tests/integration/customer.integration.test.tsx
  frontend/tests/integration/invoice.integration.test.tsx
  frontend/tests/integration/job.integration.test.tsx
  frontend/tests/integration/quote.integration.test.tsx
  frontend/tests/integration/setup.ts
  frontend/vite.config.ts
Due: eslint

ci: added jobs to check for dead code
  .github/workflows/checks.yml
  .pre-commit-config.yaml
  Makefile
  TODO.md
  frontend/.dead-code-baseline.json
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/check-dead-code.js
Due: eslint

test: integrated sql query performance metrics
  TODO.md
  backend/.env.example
  backend/cmd/main.go
  backend/config/config.go
  backend/internal/repository/customer_repository_bench_test.go
  backend/internal/repository/job_repository_test.go
  backend/pkg/database/gorm.go
  backend/pkg/database/logger.go
  backend/pkg/database/logger_test.go
  backend/pkg/database/pool_metrics.go
  docs/ANALYTICS.md
  docs/OBSERVABILITY.md
Due: golangci-lint

ci: frontend analysis and ptimization
  TODO.md
  frontend/bundle-report.html
  frontend/config/optimization.ts
  frontend/package.json
  frontend/scripts/analyze-bundle.cjs
  frontend/src/components/quotes/QuoteDetail.tsx
  frontend/src/components/quotes/index.ts
  frontend/src/components/quotes/utils/index.ts
Due: eslint

ci: bundle costs for pushes, commits, and release
  .github/workflows/checks.yml
  .github/workflows/deploy-release.yml
  .pre-commit-config.yaml
  Makefile
  TODO.md
  frontend/scripts/analyze-bundle.cjs
  scripts/release.sh
Due: none

chore(release): v0.7.0
  CHANGELOG.md
  VERSION
  backend/internal/version/version.go
  frontend/package.json
Due: golangci-lint

feat: Filter by customer in AR report
  backend/internal/api/handlers/ar_aging_handler.go
  backend/internal/models/ar_aging_report.go
  frontend/src/pages/Reports/ARAgingReportPage.tsx
Due: eslint, golangci-lint

fix: fixed issue with blank scheduled on jobs table
  frontend/src/pages/Jobs/JobsPage.tsx
Due: eslint

feat: Added new column for jobs to show assigned to
  frontend/src/pages/Jobs/JobsPage.tsx
Due: eslint

feat: Repeat jobs and show recent jobs for customers
  TODO.md
  frontend/src/components/jobs/JobActionsMenu.tsx
  frontend/src/pages/Customers/CustomerDetailPage.tsx
  frontend/src/pages/Jobs/JobDetailPage.tsx
  frontend/src/types/index.ts
Due: eslint

feat: set reminders to send to customers for invoices not paid
  TODO.md
  backend/internal/api/handlers/payment_reminder_handler.go
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/handlers.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/services.go
  backend/internal/api/routes/v1/payment_reminder_routes.go
  backend/internal/api/routes/v1/setup.go
  backend/internal/models/payment_reminder.go
  backend/internal/models/tenant.go
  backend/internal/services/payment_reminder_service.go
  backend/internal/services/payment_reminder_worker.go
  backend/migrations/001_schema.sql
  frontend/src/pages/Invoices/InvoiceDetailPage.tsx
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/services/paymentReminderService.ts
Due: eslint, golangci-lint

minor: Integrated Sentry logs
  TODO.md
  docker-compose.yml
  frontend/src/main.tsx
  frontend/src/store/authStore.ts
Due: eslint

minor: Integrate Posthog for analytics
  TODO.md
  backend/.env.example
  backend/cmd/main.go
  backend/config/config.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/routes.go
  backend/pkg/clients/analytics/factory.go
  backend/pkg/clients/analytics/interface.go
  backend/pkg/clients/analytics/mock/mock.go
  backend/pkg/clients/analytics/posthog/posthog.go
  backend/pkg/clients/analytics/types.go
  docker-compose.yml
  frontend/.env.example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/jobs/StatusTransitionButton.tsx
  frontend/src/contexts/AnalyticsContext.test.tsx
  frontend/src/contexts/AnalyticsContext.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useAnalytics.ts
  frontend/src/main.tsx
  frontend/src/pages/Invoices/InvoiceDetailPage.tsx
  frontend/src/pages/Jobs/JobDetailPage.tsx
  frontend/src/pages/Quotes/QuoteDetailPage.tsx
  frontend/src/services/analytics/events.ts
  frontend/src/services/analytics/index.ts
  frontend/src/services/analytics/posthog.ts
  frontend/src/store/authStore.ts
Due: eslint, golangci-lint

minor: Integrated Grafana
  TODO.md
  backend/cmd/main.go
  backend/migrations/001_schema.sql
  backend/pkg/database/kpi_metrics.go
  docker-compose.yml
  grafana/dashboards/platform-overview.json
  grafana/provisioning/dashboards/default.yml
  grafana/provisioning/datasources/postgres.yml
Due: golangci-lint

minor: added business hours and timezone
  backend/internal/models/tenant.go
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/types/tenant.ts
Due: eslint, golangci-lint
