Repository javaknight1/servicepro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']
        exclude: |
          (?x)^(
            .*/templates/.*\.yaml|
            .*/templates/.*\.yml
          )$
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Prettier for formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        additional_dependencies:
          - prettier@3.1.0
        exclude: |
          (?x)^(
            package-lock\.json|
            yarn\.lock|
            pnpm-lock\.yaml|
            .*/templates/.*\.yaml|
            .*/templates/.*\.yml
          )$

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npx eslint . --fix --max-warnings=0'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.[jt]sx?$

  # Backend - Go linting
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --config .golangci.yml'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        args: [-w]
      - id: go-imports
        args: [-w, -local, github.com/javaknight1/servicepro]

  # Frontend tests (optional - can be slow)
  - repo: local
    hooks:
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [manual] # Only run when explicitly called with --hook-stage manual

  # Backend tests (optional - can be slow)
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./... -v'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$
        stages: [manual] # Only run when explicitly called with --hook-stage manual

minor: Created pages with links in footer
  backend/cmd/main.go
  frontend/package-lock.json
  frontend/src/components/layout/Footer.tsx
  frontend/src/pages/About/AboutPage.tsx
  frontend/src/pages/About/index.ts
  frontend/src/pages/Contact/ContactPage.tsx
  frontend/src/pages/Contact/index.ts
  frontend/src/pages/Features/FeaturesPage.tsx
  frontend/src/pages/Features/index.ts
  frontend/src/pages/Legal/PrivacyPolicyPage.tsx
  frontend/src/pages/Legal/TermsOfServicePage.tsx
  frontend/src/pages/Legal/index.ts
  frontend/src/routes/index.tsx
Due: eslint, golangci-lint

feat: Added ability to add users to jobs
  backend/internal/models/job.go
  backend/internal/services/job_service.go
  frontend/src/components/jobs/AddAssignmentModal.tsx
  frontend/src/components/jobs/JobAssignmentsSection.tsx
  frontend/src/components/jobs/PendingAssignmentsSection.tsx
  frontend/src/components/jobs/index.ts
  frontend/src/pages/Jobs/JobDetailPage.tsx
  frontend/src/services/jobService.ts
Due: eslint, golangci-lint

feat: Create entire pipeline for creating and sending invoices and accepting payments
  backend/config/config.go
  backend/internal/api/handlers/public_invoice_handler.go
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/handlers.go
  backend/internal/api/routes/services.go
  backend/internal/api/routes/v1/invoices_routes.go
  backend/internal/models/invoice.go
  backend/internal/services/invoice_payment_handler.go
  backend/internal/services/invoice_payment_service.go
  backend/internal/services/invoice_service.go
  backend/internal/services/stripe/events.go
  backend/internal/services/stripe/webhook.go
  backend/internal/services/stripe/webhook_handler.go
  backend/migrations/001_schema.sql
  backend/pkg/clients/email/interface.go
  backend/pkg/clients/email/mock/mock.go
  backend/pkg/clients/email/resend/resend.go
  backend/pkg/clients/email/ses/ses.go
  backend/pkg/clients/email/smtp/smtp.go
  docker-compose.yml
  frontend/src/pages/Invoices/InvoiceDetailPage.tsx
  frontend/src/pages/Invoices/PaymentCancelledPage.tsx
  frontend/src/pages/Invoices/PaymentSuccessPage.tsx
  frontend/src/pages/Invoices/index.ts
  frontend/src/routes/index.tsx
  frontend/src/types/invoice.ts
  scripts/stripe-listen.sh
Due: eslint, golangci-lint

test: Fixed some backend unit tests for invoices
  backend/internal/services/invoice_service_test.go
  backend/internal/services/registration_service_test.go
  backend/pkg/notifications/assignment_notification_test.go
Due: golangci-lint

chore(release): v0.5.0
  CHANGELOG.md
  VERSION
  backend/internal/version/version.go
  frontend/package.json
Due: golangci-lint

minor: Added new fields to customer to set contact preference
  .github/workflows/deploy-release.yml
  backend/fly.toml
  backend/internal/api/handlers/customer_handler.go
  backend/internal/models/customer.go
  backend/internal/models/job_status.go
  backend/migrations/001_schema.sql
  frontend/package-lock.json
  frontend/src/pages/Customers/CustomerDetailPage.tsx
  frontend/src/services/customerService.ts
  frontend/src/types/customer.ts
Due: eslint, golangci-lint

docs: creating documentation to integrate external services
  Makefile
  README.md
  docs/deployment/README.md
  docs/services/README.md
  docs/services/cloudflare-pages.md
  docs/services/cloudflare-r2.md
  docs/services/fly-io.md
  docs/services/neon.md
  docs/services/resend.md
  docs/services/stripe.md
  docs/services/upstash.md
Due: none

test: seed database for development
  Makefile
  backend/migrations/002_seed_dev.sql
  scripts/hash-password.go
Due: none

feat: Jobs have a status flow
  backend/internal/api/handlers/job_handler.go
  backend/internal/api/handlers/job_handler_test.go
  backend/internal/api/routes/v1/jobs_routes.go
  backend/internal/models/job.go
  backend/internal/models/job_status.go
  backend/internal/repository/interface.go
  backend/internal/repository/job_repository.go
  backend/internal/services/job_service.go
  backend/internal/services/job_service_test.go
  backend/migrations/001_schema.sql
  frontend/src/components/jobs/JobActionsMenu.tsx
  frontend/src/components/jobs/JobFlowModal.tsx
  frontend/src/components/jobs/StatusTransitionButton.tsx
  frontend/src/components/jobs/index.ts
  frontend/src/pages/Jobs/JobDetailPage.tsx
  frontend/src/pages/Jobs/JobStatusHistoryPage.tsx
  frontend/src/pages/Jobs/JobsPage.tsx
  frontend/src/pages/Jobs/index.ts
  frontend/src/routes/index.tsx
  frontend/src/services/jobService.ts
  frontend/src/types/index.ts
  frontend/src/types/job.ts
Due: eslint, golangci-lint

feat: Download quote and invoice pdfs from dashboard
  backend/cmd/main.go
  backend/internal/api/handlers/invoice_handler.go
  backend/internal/api/handlers/quote_handler.go
  backend/internal/api/handlers/quote_handler_test.go
  backend/internal/api/routes/services.go
  backend/internal/api/routes/v1/invoices_routes.go
  backend/internal/api/routes/v1/quotes_routes.go
  backend/internal/models/quote.go
  backend/internal/models/user.go
  backend/internal/services/document_pdf_service.go
  backend/internal/services/invoice_service.go
  backend/internal/services/pdf/templates.go
  backend/internal/services/quote_service.go
  backend/pkg/clients/email/interface.go
  backend/pkg/clients/email/mock/mock.go
  backend/pkg/clients/email/resend/resend.go
  backend/pkg/clients/email/ses/ses.go
  backend/pkg/clients/email/smtp/smtp.go
  backend/pkg/clients/storage/s3/s3.go
  backend/pkg/notifications/assignment_notification_test.go
  docker-compose.yml
  frontend/src/components/invoices/InvoiceActionsMenu.tsx
  frontend/src/components/invoices/index.ts
  frontend/src/components/quotes/QuoteActionsMenu.tsx
  frontend/src/components/quotes/index.ts
  frontend/src/pages/Invoices/InvoiceDetailPage.tsx
  frontend/src/pages/Invoices/InvoicesPage.tsx
  frontend/src/pages/Quotes/QuoteDetailPage.tsx
  frontend/src/pages/Quotes/QuotesPage.tsx
  frontend/src/services/invoiceService.ts
  frontend/src/services/quoteService.ts
Due: eslint, golangci-lint

feat: Created multiple statuses for quotes
  backend/internal/api/handlers/quote_handler_test.go
  backend/internal/services/quote_service.go
  frontend/src/components/quotes/QuoteActionsMenu.tsx
  frontend/src/components/quotes/QuoteList.tsx
  frontend/src/components/quotes/QuoteStatusBadge.tsx
  frontend/src/components/quotes/QuoteStatusTimeline.tsx
  frontend/src/components/quotes/validation.ts
  frontend/src/components/shared/Badge/Badge.tsx
  frontend/src/pages/Dashboard/DashboardPage.tsx
  frontend/src/pages/Quotes/QuoteDetailPage.tsx
  frontend/src/pages/Quotes/QuotesPage.tsx
  frontend/src/types/quote.ts
Due: eslint, golangci-lint

fix: Fixed issue with Row Menu Item getting cut off
  frontend/src/components/invoices/InvoiceActionsMenu.tsx
  frontend/src/components/jobs/JobActionsMenu.tsx
  frontend/src/components/quotes/QuoteActionsMenu.tsx
  frontend/src/components/shared/DropdownMenu/DropdownMenu.tsx
  frontend/src/components/shared/DropdownMenu/index.ts
  frontend/src/components/shared/index.ts
Due: eslint

docs: Updated TODO with new tasks completed
  TODO.md
Due: none

fix: Enforce random secret JWT key
  backend/config/config.go
Due: golangci-lint

fix: Moved JWT token storage from localstorage to httpOnly cookies
  backend/config/config.go
  backend/internal/api/handlers/auth_handler.go
  backend/internal/api/handlers/auth_handler_test.go
  backend/internal/api/middleware/permissions.go
  backend/internal/api/middleware/permissions_test.go
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/handlers.go
  backend/internal/api/routes/middleware.go
  backend/internal/api/routes/v1/auth_routes.go
  backend/internal/models/user.go
  backend/pkg/auth/cookies.go
  frontend/src/services/api.ts
  frontend/src/store/authStore.ts
  frontend/src/types/auth.ts
Due: eslint, golangci-lint

test: Added dependabot that would check if any dependencies are outdated
  .github/dependabot.yml
  .github/workflows/checks.yml
Due: none

test: Fixed the failing unit tests for PDFs and emailing
  backend/.env.example
  backend/internal/services/invoice_service_test.go
  backend/internal/services/job_service_test.go
  backend/internal/services/registration_service_test.go
  backend/internal/services/unified_export_service_test.go
Due: golangci-lint

fix: fixed linting with invalud package-lock.json
  .github/workflows/checks.yml
  .github/workflows/deploy-release.yml
  frontend/package-lock.json
Due: none

fix: Fixed linting and vulnerabilities from audit
  TODO.md
  backend/pkg/clients/email/smtp/smtp.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/jobs/JobFlowModal.tsx
  frontend/src/pages/Invoices/PaymentSuccessPage.tsx
Due: eslint, golangci-lint

feat: Create pkg to send SMS
  backend/cmd/main.go
  backend/config/config.go
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/routes.go
  backend/internal/notifications/queue/sms_queue.go
  backend/internal/notifications/queue/sms_queue_test.go
  backend/internal/notifications/sns/config.go
  backend/internal/notifications/sns/config_test.go
  backend/internal/notifications/sns/errors.go
  backend/internal/notifications/sns/ratelimit.go
  backend/internal/notifications/templates/sms_templates.go
  backend/internal/notifications/templates/sms_templates_test.go
  backend/internal/notifications/tracking/delivery_tracking.go
  backend/internal/notifications/tracking/delivery_tracking_test.go
  backend/pkg/clients/sms/factory.go
  backend/pkg/clients/sms/interface.go
  backend/pkg/clients/sms/mock/mock.go
  backend/pkg/clients/sms/sns/sns.go
  backend/pkg/clients/sms/textbelt/textbelt.go
  backend/pkg/clients/sms/types.go
  backend/pkg/notifications/assignment_notification.go
  backend/pkg/notifications/assignment_notification_test.go
Due: golangci-lint

chore(release): v0.6.0
  CHANGELOG.md
  VERSION
  backend/internal/version/version.go
  frontend/package.json
Due: golangci-lint

feat: Added graceful shutdown on backend startup
  CLAUDE.md
  TODO.md
  backend/.env.example
  backend/cmd/main.go
  backend/config/config.go
  frontend/package-lock.json
Due: golangci-lint

fix: Added deep health checks for some of our services
  TODO.md
  backend/internal/api/handlers/health_handler.go
  backend/internal/api/routes/routes.go
Due: golangci-lint

fix: Fixed token access on frontend
  CLAUDE.md
  TODO.md
  frontend/src/components/scheduling/ConflictChecker.tsx
Due: eslint

fix: Centralize any calls to fetch()
  TODO.md
  frontend/src/components/quotes/hooks/useQuoteCalculations.ts
  frontend/src/components/quotes/utils/pdfGenerator.tsx
Due: eslint

fix: added csp/hsts headers for frontend
  TODO.md
  frontend/Dockerfile
  frontend/nginx.conf
  frontend/security-headers.conf
Due: none

fix: Fixed error handling for Sentry
  TODO.md
  backend/cmd/main.go
  backend/internal/api/middleware/error_handler.go
  backend/internal/api/routes/routes.go
Due: golangci-lint

feat: emit metrics on /metrics endpoint
  TODO.md
  backend/cmd/main.go
  backend/internal/api/routes/routes.go
Due: golangci-lint

fix: Remove any usage of any type in frontend
  CLAUDE.md
  TODO.md
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/components/calendar/types.ts
  frontend/src/components/charts/BaseChart.tsx
  frontend/src/components/charts/__tests__/charts.test.tsx
  frontend/src/components/filters/FilterBar.tsx
  frontend/src/components/payments/__stories__/PaymentResult.stories.tsx
  frontend/src/components/payments/__tests__/CreditCardInput.test.tsx
  frontend/src/components/payments/__tests__/PaymentForm.test.tsx
  frontend/src/components/payments/__tests__/PaymentResult.test.tsx
  frontend/src/components/quotes/LineItemRow.tsx
  frontend/src/components/recurring/PatternPreview.tsx
  frontend/src/components/recurring/RecurringForm.tsx
  frontend/src/components/recurring/types.ts
  frontend/src/components/templates/TemplatePreview.tsx
  frontend/src/components/templates/VariableEditor.tsx
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Customers/CustomerDetailPage.tsx
  frontend/src/pages/Invoices/InvoiceDetailPage.tsx
  frontend/src/pages/Jobs/JobDetailPage.tsx
  frontend/src/pages/Quotes/QuoteDetailPage.tsx
  frontend/src/pages/Settings/ChangeMembershipPage.tsx
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/pages/Team/TeamMembersPage.tsx
  frontend/src/services/api.ts
  frontend/src/store/tenantStore.ts
  frontend/src/types/auth.ts
  frontend/src/types/chart.ts
  frontend/src/types/index.ts
  frontend/src/types/template.ts
  frontend/src/utils/error.ts
  frontend/src/utils/index.ts
Due: eslint

fix: remoed ts-nocheck
  TODO.md
  frontend/src/components/Loadable.tsx
  frontend/src/routes/index.tsx
  frontend/src/utils/performance.ts
Due: eslint

fix: Enabled noUnusedLocals and noUnusedParameters
  TODO.md
  frontend/src/components/charts/AreaChart.tsx
  frontend/src/components/charts/BarChart.tsx
  frontend/src/components/charts/LineChart.tsx
  frontend/src/components/charts/PieChart.tsx
  frontend/src/components/error/ApiErrorHandler.tsx
  frontend/src/components/health/HealthDashboard.tsx
  frontend/src/components/quotes/QuoteDetail.tsx
  frontend/src/components/roles/RoleManager.tsx
  frontend/src/components/templates/TemplatePreview.tsx
  frontend/src/contexts/AnalyticsContext.tsx
  frontend/src/pages/Register/RegisterPage.tsx
  frontend/src/providers/QueryProvider.tsx
  frontend/src/service-worker.ts
  frontend/src/utils/registerServiceWorker.tsx
  frontend/tsconfig.json
Due: eslint

refactor: Cleaned up the frontend and removed unused code
  TODO.md
  frontend/config/optimization.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/health/HealthDashboard.tsx
  frontend/src/components/recurring/PatternPreview.tsx
  frontend/src/components/recurring/RecurringForm.tsx
  frontend/src/components/recurring/__tests__/RecurringForm.test.tsx
  frontend/src/components/recurring/index.ts
  frontend/src/components/recurring/types.ts
  frontend/src/components/subscriptions/BillingSchedule.tsx
  frontend/src/components/subscriptions/CancellationFlow.tsx
  frontend/src/components/subscriptions/PlanSelector.tsx
  frontend/src/components/subscriptions/SubscriptionManager.tsx
  frontend/src/components/subscriptions/index.ts
  frontend/src/hooks/useAnalytics.ts
  frontend/src/hooks/useErrorTracking.ts
  frontend/src/hooks/useKPI.ts
  frontend/src/utils/performance.ts
Due: eslint

test: removed unit tests not being used anymore
  frontend/src/hooks/useErrorTracking.test.ts
Due: eslint

feat: added calendar view for jobs
  TODO.md
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/components/calendar/CalendarEventPopover.tsx
  frontend/src/components/calendar/index.ts
  frontend/src/components/calendar/types.ts
  frontend/src/components/layout/Sidebar.tsx
  frontend/src/index.css
  frontend/src/pages/Jobs/JobCalendarPage.tsx
  frontend/src/pages/Jobs/JobsPage.tsx
  frontend/src/pages/Jobs/index.ts
  frontend/src/routes/index.tsx
  frontend/src/services/jobService.ts
Due: eslint

docs: Updated TODO from items from MVP doc
  TODO.md
Due: none

docs: Completed openapi swagger docs for API
  .gitignore
  CLAUDE.md
  Makefile
  TODO.md
  backend/cmd/main.go
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/billing_handler.go
  backend/internal/api/handlers/download_handler.go
  backend/internal/api/handlers/health_handler.go
  backend/internal/api/handlers/import_export_handler.go
  backend/internal/api/handlers/membership_handler.go
  backend/internal/api/handlers/profile_picture_handler.go
  backend/internal/api/handlers/public_invoice_handler.go
  backend/internal/api/handlers/role_handler.go
  backend/internal/api/handlers/tenant_handler.go
  backend/internal/api/handlers/user_handler.go
  backend/internal/api/handlers/version_handler.go
  backend/internal/api/handlers/webhook_handler.go
  backend/internal/api/routes/routes.go
  frontend/package-lock.json
  frontend/package.json
Due: golangci-lint

refactor: created file download library to be used across frontend
  TODO.md
  frontend/src/components/charts/BaseChart.tsx
  frontend/src/components/charts/chartUtils.ts
  frontend/src/components/quotes/utils/pdfGenerator.tsx
  frontend/src/hooks/useRoles.ts
  frontend/src/services/customerReportService.ts
  frontend/src/services/exportService.ts
  frontend/src/services/invoiceService.ts
  frontend/src/services/quoteService.ts
  frontend/src/services/revenueService.ts
  frontend/src/services/templateService.ts
  frontend/src/utils/fileDownload.ts
Due: eslint

refactor: centralize url search params lib
  TODO.md
  frontend/src/services/customerReportService.ts
  frontend/src/services/customerService.ts
  frontend/src/services/invoiceService.ts
  frontend/src/services/revenueService.ts
  frontend/src/utils/queryParams.ts
Due: eslint

refactor: consolidate cache hooks
  TODO.md
  frontend/src/hooks/useCache.ts
Due: eslint
