Repository javaknight1/servicepro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

.pre-commit-config.yaml:

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ['--unsafe']
        exclude: |
          (?x)^(
            .*/templates/.*\.yaml|
            .*/templates/.*\.yml
          )$
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Prettier for formatting
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        types_or: [javascript, jsx, ts, tsx, json, yaml, markdown, css, scss]
        additional_dependencies:
          - prettier@3.1.0
        exclude: |
          (?x)^(
            package-lock\.json|
            yarn\.lock|
            pnpm-lock\.yaml|
            .*/templates/.*\.yaml|
            .*/templates/.*\.yml
          )$

  # Frontend - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && npx eslint . --fix --max-warnings=0'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.[jt]sx?$

  # Backend - Go linting
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: bash -c 'cd backend && golangci-lint run --config .golangci.yml'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$

  # Go formatting
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        args: [-w]
      - id: go-imports
        args: [-w, -local, github.com/javaknight1/servicepro]

  # Frontend tests (optional - can be slow)
  - repo: local
    hooks:
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm test -- --watchAll=false --passWithNoTests'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx|js|jsx)$
        stages: [manual] # Only run when explicitly called with --hook-stage manual

  # Backend tests (optional - can be slow)
  - repo: local
    hooks:
      - id: backend-tests
        name: Backend Tests
        entry: bash -c 'cd backend && go test ./... -v'
        language: system
        pass_filenames: false
        files: ^backend/.*\.go$
        stages: [manual] # Only run when explicitly called with --hook-stage manual

ignore
  .gitignore
Due: none

Got docker compose for local dev to work
  docker-compose.yml
Due: none

Added monitor dashboards
  infrastructure/README.md
  infrastructure/main.tf
  infrastructure/modules/monitoring/dashboards/api-metrics.json
  infrastructure/modules/monitoring/dashboards/api.json
  infrastructure/modules/monitoring/dashboards/application.json
  infrastructure/modules/monitoring/dashboards/database.json
  infrastructure/modules/monitoring/main.tf
  infrastructure/modules/monitoring/outputs.tf
  infrastructure/modules/monitoring/variables.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
Due: none

Create resource group for everything
  infrastructure/main.tf
  infrastructure/modules/resource-group/main.tf
  infrastructure/modules/resource-group/outputs.tf
  infrastructure/modules/resource-group/variables.tf
  infrastructure/outputs.tf
Due: none

chore: Added check for valid commit messages
  .pre-commit-config.yaml
Due: none

chore: add release pipeline
  .github/workflows/release.yml
  CHANGELOG.md
  VERSION
  cliff.toml
  scripts/release.sh
Due: none

refactor: Removed unused gitops
  gitops/argocd/backend-preprod.yaml
  gitops/argocd/backend-prod.yaml
  gitops/argocd/backend-staging.yaml
  gitops/argocd/frontend-preprod.yaml
  gitops/argocd/frontend-prod.yaml
  gitops/argocd/frontend-staging.yaml
  gitops/values/backend/preprod.yaml
  gitops/values/backend/prod.yaml
  gitops/values/backend/staging.yaml
  gitops/values/frontend/preprod.yaml
  gitops/values/frontend/prod.yaml
  gitops/values/frontend/staging.yaml
Due: none

chore: Updated .gitignore for removing terraform, helm, and gitops
  .gitignore
Due: none

ci: Update linting job
  .github/workflows/lint.yml
Due: none

ci: Ignore linting for some files
  .prettierignore
Due: none

test: Fixed docker compose and Makefile to work correctly
  Makefile
  docker-compose.yml
Due: none

refactor: Removed code not being used in backend and recorded into TODO
  TODO.md
  backend/internal/api/handlers/assignment_handler_test.go
  backend/internal/api/handlers/import_export_handler.go
  backend/internal/api/handlers/job_handler_test.go
  backend/internal/api/handlers/registration_handler_test.go
  backend/internal/api/handlers/schedule_handler.go
  backend/internal/api/handlers/status_handler.go
  backend/internal/api/handlers/status_handler_test.go
  backend/internal/api/handlers/webhooks/stripe_test.go
  backend/internal/api/handlers/websocket_handler.go
  backend/internal/api/routes/routes.go
  backend/internal/models/permission.go
  backend/internal/services/assignment_service_test.go
  backend/internal/services/auth_service_test.go
  backend/internal/services/conflict/detector_test.go
  backend/internal/services/export_service.go
  backend/internal/services/payment_notification_service.go
  backend/internal/services/quote_template_service.go
  backend/internal/services/schedule_service.go
  backend/internal/services/status_service.go
  backend/internal/services/status_service_test.go
  backend/internal/services/stripe/client_test.go
  backend/internal/services/stripe/webhook_handler_test.go
  backend/internal/services/stripe/webhook_test.go
  backend/internal/services/tax_service.go
  backend/internal/services/tax_service_test.go
  backend/internal/services/tax_types.go
  backend/internal/services/template_engine.go
  backend/internal/services/websocket_notification_service.go
Due: golangci-lint

test: Fixed many of the broken unit tests
  .gitignore
  backend/internal/api/middleware/access_control.go
  backend/internal/api/middleware/access_control_test.go
  backend/internal/api/middleware/permissions_test.go
  backend/internal/health/checks_test.go
  backend/internal/notifications/tracking/delivery_tracking_test.go
  backend/internal/repository/permission_repository.go
  backend/internal/services/invoice_service.go
  backend/internal/services/invoice_service_test.go
  backend/internal/services/invoice_template_service_test.go
  backend/internal/services/job_service_test.go
  backend/internal/services/payment_terms_service_test.go
  backend/internal/services/permissions/checker_test.go
  backend/internal/services/recurring/generator_test.go
  backend/internal/services/revenue_service_test.go
  backend/internal/services/subscriptions/billing_test.go
  backend/internal/services/subscriptions/manager_test.go
  backend/internal/services/subscriptions/plans_test.go
  backend/internal/services/unified_export_service_test.go
Due: golangci-lint

ci: streamline the Makefile
  Makefile
Due: none

ci: Fixed some linting issues from our CI job
  frontend/index.html
Due: none

ci: Clean up all our linting
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Makefile
Due: none

ci: Cleaned up all our ci jobs
  .github/workflows/checks.yml
  .github/workflows/deploy.yml
Due: none

test: Fixed some unit tests
  .github/workflows/checks.yml
  backend/internal/analytics/tracker_test.go
  backend/internal/notifications/queue/sms_queue.go
  backend/internal/notifications/tracking/delivery_tracking.go
  backend/internal/services/conflict/detector_test.go
  backend/internal/services/unified_export_service.go
Due: golangci-lint

test: Fixed all unit tests for frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/error/ErrorBoundary.test.tsx
  frontend/src/components/payments/__tests__/PaymentForm.test.tsx
  frontend/src/components/roles/__tests__/RoleAudit.test.tsx
  frontend/src/components/roles/__tests__/RoleForm.test.tsx
  frontend/src/components/roles/__tests__/RoleManager.test.tsx
  frontend/src/contexts/AnalyticsContext.test.tsx
  frontend/src/hooks/useErrorTracking.test.ts
  frontend/src/pages/Login/__tests__/LoginPage.test.tsx
  frontend/src/test/setup.ts
Due: eslint

test: Fixed breaking unit tests for backend and frontend
  .github/workflows/checks.yml
  .gitignore
  Makefile
  backend/Dockerfile
  backend/README.md
  backend/go.mod
  backend/go.sum
  backend/internal/services/unified_export_service_test.go
  docker-compose.yml
  docs/architecture/overview.md
  docs/getting-started/full-setup.md
  docs/getting-started/quick-start.md
  docs/getting-started/troubleshooting.md
  frontend/src/components/error/ErrorBoundary.test.tsx
  frontend/src/components/payments/__tests__/PaymentSummary.test.tsx
  frontend/src/components/payments/methods/__tests__/PaymentMethodCard.test.tsx
  frontend/src/components/quotes/__tests__/LineItemForm.test.tsx
  frontend/src/components/quotes/__tests__/LineItemList.test.tsx
  frontend/src/components/quotes/__tests__/QuoteList.test.tsx
  frontend/src/components/quotes/__tests__/TotalCalculator.test.tsx
  frontend/src/components/recurring/__tests__/RecurringForm.test.tsx
  frontend/src/components/roles/__tests__/RoleAudit.test.tsx
  frontend/src/components/roles/__tests__/RoleForm.test.tsx
  frontend/src/components/roles/__tests__/RoleManager.test.tsx
  frontend/src/components/shared/Input/Input.test.tsx
  frontend/src/components/shared/Modal/Modal.test.tsx
  frontend/src/contexts/AnalyticsContext.test.tsx
  frontend/src/hooks/useErrorTracking.test.ts
  frontend/src/pages/Login/__tests__/LoginPage.test.tsx
  frontend/src/test/__mocks__/sentry-tracing.ts
  frontend/src/test/setup.ts
  frontend/vite.config.ts
  scripts/release.sh
  scripts/setup-pre-commit.sh
Due: eslint, golangci-lint

ci: Fixed failing remote unit tests for frontend
  frontend/src/components/quotes/__tests__/QuoteList.test.tsx
  frontend/src/components/recurring/__tests__/RecurringForm.test.tsx
  frontend/src/components/roles/__tests__/RoleAudit.test.tsx
  frontend/src/components/roles/__tests__/RoleManager.test.tsx
  frontend/src/services/realtime/__tests__/realtime.test.ts
  frontend/vite.config.ts
Due: eslint

test: Streamlined a lot of our scripts
  scripts/diagnose.sh
  scripts/run-tests.sh
  scripts/setup.sh
  scripts/validate.sh
Due: none

ci: Pretty linting files
  docker-compose.test.yml
  frontend/src/components/calendar/Calendar.tsx
  frontend/src/components/quotes/QuoteDetail.tsx
  frontend/src/components/quotes/QuoteList.tsx
  frontend/src/components/quotes/utils/pdfGenerator.tsx
  frontend/src/components/shared/DataTable/DataTable.tsx
  frontend/src/hooks/useCache.ts
  frontend/src/hooks/useErrorTracking.ts
  frontend/src/hooks/useWebSocket.ts
  frontend/src/pages/Invoices/InvoiceDetailPage.tsx
  frontend/src/pages/Quotes/QuoteDetailPage.tsx
  frontend/src/routes/index.tsx
Due: eslint

test: Removed test docker compose
  docker-compose.test.yml
Due: none

refactor: Supporting only S3 compatible storage options
  backend/config/config.go
  backend/pkg/clients/storage/factory.go
  backend/pkg/clients/storage/r2/r2.go
  backend/pkg/clients/storage/s3/s3.go
  backend/pkg/clients/storage/types.go
Due: golangci-lint

feat: Created endpoint to CRUD a user's profile image
  backend/go.mod
  backend/go.sum
  backend/internal/api/handlers/profile_picture_handler.go
  backend/internal/api/handlers/user_handler.go
  backend/internal/api/routes/routes.go
  backend/internal/models/tenant.go
  backend/internal/models/user.go
  backend/internal/repository/interface.go
  backend/internal/repository/user_repository_gorm.go
  backend/internal/services/auth_service_test.go
  backend/internal/services/profile_picture_service.go
  backend/migrations/001_schema.sql
Due: golangci-lint

feat: Created frontend components to create profile pic for users
  docker-compose.yml
  frontend/config/optimization.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/layout/Header.tsx
  frontend/src/components/layout/ProtectedRoute.tsx
  frontend/src/components/settings/ProfilePictureSection.tsx
  frontend/src/components/shared/Avatar/Avatar.tsx
  frontend/src/components/shared/Avatar/index.ts
  frontend/src/components/shared/ImageCropModal/ImageCropModal.tsx
  frontend/src/components/shared/ImageCropModal/index.ts
  frontend/src/components/shared/index.ts
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Team/TeamMembersPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/userService.ts
  frontend/src/store/authStore.ts
  frontend/src/types/auth.ts
  frontend/src/types/tenant.ts
  frontend/src/utils/avatar.ts
Due: eslint

ci: Fixed linting errors
  frontend/src/components/settings/ProfilePictureSection.tsx
  frontend/src/components/shared/Avatar/Avatar.tsx
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/pages/Team/TeamMembersPage.tsx
Due: eslint

minor: Created new version endpoint to return current running version
  .pre-commit-config.yaml
  backend/internal/api/handlers/version_handler.go
  backend/internal/api/routes/routes.go
  backend/internal/version/version.go
Due: golangci-lint

ci: Updated output of change log for new releases
  cliff.toml
  scripts/release.sh
Due: none

ci: Output major and minor commits
  scripts/release.sh
Due: none

test: Fixed unit tests with new profile pic handler
  backend/internal/api/middleware/permissions_test.go
  backend/internal/services/invoice_service_test.go
  backend/internal/services/password_reset_service_test.go
  backend/internal/services/permissions/checker_test.go
Due: golangci-lint

chore: Removed useless commands in Makefile
  Makefile
Due: none
