Repository javaknight1/servicepro: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, golangci-lint

eslint:
  name: eslint
  entry: bash -c 'cd frontend && npx eslint . --fix --max-warnings=0'
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd backend && golangci-lint run --config .golangci.yml'
  language: system
  pass_filenames: false

ci: Fixed change log generation commit link
  cliff.toml
Due: none

ci: Fixed change log white space generated
  cliff.toml
Due: none

chore: Cleaned up change log formatting
  cliff.toml
Due: none

chore(release): v0.2.0
  CHANGELOG.md
  VERSION
  backend/internal/version/version.go
  frontend/package.json
Due: golangci-lint

chore: Auto generate prettier and lint
  CHANGELOG.md
Due: none

chore: Remove workflow that we aren't using right now
  .github/workflows/deploy.yml
Due: none

minor: Added new endpoint to give users a first name and last name
  backend/internal/api/handlers/user_handler.go
  backend/internal/api/middleware/permissions_test.go
  backend/internal/api/routes/routes.go
  backend/internal/models/tenant.go
  backend/internal/models/user.go
  backend/internal/repository/interface.go
  backend/internal/repository/user_repository_gorm.go
  backend/internal/services/auth_service_test.go
  backend/internal/services/invoice_service_test.go
  backend/internal/services/password_reset_service_test.go
  backend/internal/services/permissions/checker_test.go
  backend/migrations/001_schema.sql
Due: golangci-lint

minor: Get latest first and last name and edit in Profile
  frontend/package-lock.json
  frontend/src/components/layout/Header.tsx
  frontend/src/components/shared/Avatar/Avatar.tsx
  frontend/src/pages/Settings/SettingsPage.tsx
  frontend/src/pages/Team/TeamMembersPage.tsx
  frontend/src/services/userService.ts
  frontend/src/types/auth.ts
  frontend/src/types/tenant.ts
  frontend/src/utils/avatar.ts
Due: eslint

chore: Created CLAUDE.md to help with development
  CLAUDE.md
Due: none

chore: Include Minio in makefile commands
  Makefile
Due: none

feat: Add endpoints to allow users to update membership status for organizations
  backend/internal/api/handlers/membership_handler.go
  backend/internal/api/routes/membership_routes.go
  backend/internal/api/routes/routes.go
  backend/internal/models/membership.go
  backend/internal/permissions/constants.go
  backend/internal/repository/membership_repository.go
  backend/internal/services/membership_service.go
  backend/internal/services/tenant_service.go
  backend/migrations/001_schema.sql
Due: golangci-lint

minor: Updated the UI to include membership features
  frontend/src/components/membership/BillingToggle.tsx
  frontend/src/components/membership/MembershipTab.tsx
  frontend/src/components/membership/TierCard.tsx
  frontend/src/components/membership/TierComparisonTable.tsx
  frontend/src/components/membership/index.ts
  frontend/src/pages/Pricing/PricingPage.tsx
  frontend/src/pages/Pricing/index.ts
  frontend/src/pages/Settings/ChangeMembershipPage.tsx
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/pages/Settings/index.ts
  frontend/src/routes/index.tsx
  frontend/src/services/membershipService.ts
  frontend/src/store/index.ts
  frontend/src/store/membershipStore.ts
  frontend/src/types/membership.ts
Due: eslint

fix: Fixed some warnings getting emitted by commits
  frontend/src/store/membershipStore.ts
Due: eslint

fix: Fixed issue with prettier versions incompatible
  .pre-commit-config.yaml
  CONTRIBUTING.md
  TODO.md
  backend/templates/invoices/styles.css
  backend/templates/quotes/styles.css
  backend/templates/reports/styles.css
  backend/templates/shared/base.css
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Loadable.tsx
  frontend/src/components/OptimizedImage.tsx
  frontend/src/components/charts/LineChart.tsx
  frontend/src/components/filters/NumberRangeFilter.tsx
  frontend/src/components/filters/SegmentFilter.tsx
  frontend/src/components/payments/methods/__tests__/PaymentMethodList.test.tsx
  frontend/src/components/shared/DataTable/DataTable.tsx
  frontend/src/hooks/useCache.ts
  frontend/src/styles/critical.css
  frontend/src/styles/marketing/components.css
  frontend/src/styles/marketing/design-system.css
  help/customers/README.md
Due: eslint

fix: Resolved eslint warnings in UI
  Makefile
  frontend/src/components/Loadable.tsx
  frontend/src/components/OptimizedImage.tsx
  frontend/src/components/charts/LineChart.tsx
  frontend/src/components/filters/NumberRangeFilter.tsx
  frontend/src/components/filters/SegmentFilter.tsx
Due: eslint

chore: Updated @typescript-eslint/typescript-estree to 8.53.1
  frontend/package-lock.json
  frontend/package.json
Due: none

chore: disable some lintings:
  frontend/src/components/recurring/RecurringForm.tsx
  frontend/src/components/templates/TemplatePreview.tsx
Due: eslint

chore: Require unit tests on pre-commit
  .pre-commit-config.yaml
  frontend/src/components/payments/__tests__/PaymentForm.test.tsx
Due: eslint

test: Fixed unuit tests after eslint changes
  frontend/src/components/charts/BarChart.tsx
  frontend/src/components/charts/BaseChart.tsx
  frontend/src/components/filters/DateRangePicker.tsx
  frontend/src/components/quotes/LineItemForm.tsx
  frontend/src/components/quotes/utils/pdfGenerator.tsx
  frontend/src/components/recurring/PatternPreview.tsx
Due: eslint

chore(release): v0.3.0
  CHANGELOG.md
  VERSION
  backend/internal/version/version.go
  frontend/package.json
Due: golangci-lint

feat: Created full backend API to handle all payment systems
  backend/.env.example
  backend/config/config.go
  backend/internal/api/handlers/billing_handler.go
  backend/internal/api/handlers/membership_handler.go
  backend/internal/api/handlers/webhook_handler.go
  backend/internal/api/routes/billing_routes.go
  backend/internal/api/routes/membership_routes.go
  backend/internal/api/routes/routes.go
  backend/internal/models/membership.go
  backend/internal/models/payment.go
  backend/internal/models/tenant.go
  backend/internal/repository/membership_repository.go
  backend/internal/repository/payment_repository.go
  backend/internal/repository/tenant_repository.go
  backend/internal/services/membership_service.go
  backend/internal/services/stripe_service.go
  backend/migrations/002_stripe_integration.sql
Due: golangci-lint

feat: Integrated backend payment APIs to UI
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/membership/BillingSection.tsx
  frontend/src/components/membership/MembershipTab.tsx
  frontend/src/components/membership/index.ts
  frontend/src/pages/Settings/ChangeMembershipPage.tsx
  frontend/src/pages/Settings/ConfirmMembershipPage.tsx
  frontend/src/pages/Settings/index.ts
  frontend/src/providers/StripeProvider.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/billingService.ts
  frontend/src/services/index.ts
  frontend/src/services/membershipService.ts
  frontend/src/store/billingStore.ts
  frontend/src/store/index.ts
  frontend/src/types/membership.ts
  frontend/src/types/payment.ts
Due: eslint

fix: Fixed potential sql injection
  backend/internal/analytics/store.go
  backend/internal/models/payment/tracking.go
  backend/internal/repository/customer_repository.go
  backend/internal/repository/job_repository.go
  backend/internal/services/invoice_service.go
  backend/internal/utils/safe_order.go
  backend/internal/utils/safe_order_test.go
Due: golangci-lint

minor: Added rating limiting to API
  TODO.md
  backend/config/config.go
  backend/internal/api/middleware/ratelimit_api.go
  backend/internal/api/middleware/ratelimit_api_test.go
  backend/internal/api/routes/routes.go
Due: golangci-lint

test: Added SMTP local service to docker compose for local email development
  TODO.md
  backend/config/config.go
  backend/internal/api/routes/routes.go
  backend/pkg/clients/email/factory.go
  backend/pkg/clients/email/interface.go
  backend/pkg/clients/email/smtp/smtp.go
  backend/pkg/clients/email/types.go
  docker-compose.yml
Due: golangci-lint

fix: Added some security HTTP validation
  TODO.md
  backend/internal/api/middleware/security_headers.go
  backend/internal/api/middleware/security_headers_test.go
  backend/internal/api/routes/routes.go
Due: golangci-lint

fix: Integrated CORS middleware
  TODO.md
  backend/config/config.go
  backend/internal/api/middleware/cors.go
  backend/internal/api/middleware/cors_test.go
  backend/internal/api/routes/routes.go
Due: golangci-lint

fix: Fixed incorrect path to cmd/main.go
  TODO.md
  backend/Dockerfile
  docs/architecture/overview.md
  docs/getting-started/full-setup.md
  docs/getting-started/quick-start.md
  docs/getting-started/troubleshooting.md
  scripts/setup.sh
Due: none

chore: Migrated .sql migrations into single migration file
  backend/migrations/001_schema.sql
  backend/migrations/002_stripe_integration.sql
Due: none

refactor: Updated comments and references to signal s3 agnostic
  backend/.env.example
  backend/config/config.go
  backend/internal/services/pdf/config.go
  backend/pkg/clients/storage/factory.go
  backend/pkg/clients/storage/mock/mock.go
  backend/pkg/clients/storage/s3/s3.go
Due: golangci-lint

refactor: Clean up our config for the backend
  backend/.env.example
  backend/config/config.go
  backend/internal/notifications/sns/config.go
  backend/pkg/clients/email/factory.go
  backend/pkg/clients/email/mock/mock.go
  backend/pkg/clients/email/ses/ses.go
Due: golangci-lint

docs: Update our docs with new info on env vars
  docs/api/authentication.md
Due: none

fix: Fixed issue gotten when editing invoices
  backend/internal/api/handlers/invoice_handler.go
  backend/internal/models/invoice.go
  backend/migrations/001_schema.sql
  frontend/src/pages/Invoices/InvoicesPage.tsx
  frontend/src/services/invoiceService.ts
Due: eslint, golangci-lint

feat: Added backend API to send invites to users registered and not registered to platform
  backend/internal/api/handlers/invitation_handler.go
  backend/internal/api/handlers/registration_handler.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/tenant_routes.go
  backend/internal/models/tenant.go
  backend/internal/models/user.go
  backend/internal/services/invitation_service.go
  backend/internal/services/registration_service_test.go
  backend/migrations/001_schema.sql
  backend/pkg/clients/email/interface.go
  backend/pkg/clients/email/mock/mock.go
  backend/pkg/clients/email/resend/resend.go
  backend/pkg/clients/email/ses/ses.go
  backend/pkg/clients/email/smtp/smtp.go
  backend/pkg/notifications/assignment_notification_test.go
Due: golangci-lint

feat: Integrated new invite API into frontend
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/AcceptInvitation/AcceptInvitationPage.tsx
  frontend/src/pages/AcceptInvitation/index.ts
  frontend/src/pages/Register/RegisterPage.tsx
  frontend/src/pages/Settings/OrgSettingsPage.tsx
  frontend/src/pages/Team/TeamMembersPage.tsx
  frontend/src/routes/index.tsx
  frontend/src/services/tenantService.ts
  frontend/src/store/authStore.ts
  frontend/src/types/auth.ts
  frontend/src/types/tenant.ts
Due: eslint

refactor: Simplify our routing library
  backend/cmd/main.go
  backend/internal/api/handlers/registration_handler_test.go
  backend/internal/api/routeconfigs/routeconfigs.go
  backend/internal/api/routes/billing_routes.go
  backend/internal/api/routes/config.go
  backend/internal/api/routes/export_routes.go
  backend/internal/api/routes/handlers.go
  backend/internal/api/routes/invoice_routes.go
  backend/internal/api/routes/membership_routes.go
  backend/internal/api/routes/middleware.go
  backend/internal/api/routes/payment_terms_routes.go
  backend/internal/api/routes/repositories.go
  backend/internal/api/routes/routes.go
  backend/internal/api/routes/services.go
  backend/internal/api/routes/stripe_routes.go
  backend/internal/api/routes/tenant_routes.go
  backend/internal/api/routes/v1/auth_routes.go
  backend/internal/api/routes/v1/billing_routes.go
  backend/internal/api/routes/v1/customers_routes.go
  backend/internal/api/routes/v1/exports_routes.go
  backend/internal/api/routes/v1/invoices_routes.go
  backend/internal/api/routes/v1/jobs_routes.go
  backend/internal/api/routes/v1/membership_routes.go
  backend/internal/api/routes/v1/payment_terms_routes.go
  backend/internal/api/routes/v1/quotes_routes.go
  backend/internal/api/routes/v1/reports_routes.go
  backend/internal/api/routes/v1/roles_routes.go
  backend/internal/api/routes/v1/setup.go
  backend/internal/api/routes/v1/stripe_routes.go
  backend/internal/api/routes/v1/tenants_routes.go
  backend/internal/api/routes/v1/users_routes.go
Due: golangci-lint

test: Fixed some backend unit tests for invoice
  backend/internal/services/invoice_service_test.go
Due: golangci-lint

ci: Fixed a linting error with main.go
  backend/cmd/main.go
Due: golangci-lint

chore(release): v0.4.0
  CHANGELOG.md
  VERSION
  backend/internal/version/version.go
  frontend/package.json
Due: golangci-lint

Path conditions:
  eslint: any of: ^frontend/.*\.[jt]sx?$
  golangci-lint: any of: ^backend/.*\.go$
